<html>
<head>
    <title>Off The Street</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/order-history-pending.css">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar sticky-top navbar-expand-lg justify-content-center">
        <ul class="nav d-flex align-items-center">
            <li class="nav-item">
                <a class="nav-link navlink" href="home.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navlink" href="about-us.html">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navlink" href="#">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navlink" href="size-chart.html">Size Chart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navlink" href="contact.html">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navlink" href="faq.html">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navlink" href="privacy-policy.html">Privacy Policy</a>
            </li>
            <li class="nav-item">
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                        <input class="search_input" type="text" name="" placeholder="Search...">
                        <a href="search.html" class="search_icon" id="searchbtn">
                            <svg width="16" height="16" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7965 16.9215C19.7558 15.5864 20.3188 13.9521 20.3188 12.1937C20.3188 7.70622 16.6813 4.06873 12.1938 4.06873C7.70626 4.06873 4.06876 7.70622 4.06876 12.1937C4.06876 16.6812 7.70626 20.3187 12.1938 20.3187C13.9521 20.3187 15.5864 19.7557 16.9215 18.7965L24.0688 25.9312L25.9313 24.0687L18.7965 16.9215ZM6.56876 12.1937C6.56876 15.3062 9.08126 17.8187 12.1938 17.8187C15.3063 17.8187 17.8188 15.3062 17.8188 12.1937C17.8188 9.08123 15.3063 6.56873 12.1938 6.56873C9.08126 6.56873 6.56876 9.08123 6.56876 12.1937Z" fill="#F2F2F2"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </li>
            <script type="text/javascript">
                document.getElementById("searchbtn").onclick = function () {
                    location.href = "search.html";
                };
            </script>
            <li class="nav-item">
                <a class="nav-link navlink" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navlink" href="shopping-cart.html">Cart</a>
            </li>
        </ul>
    </nav>

    <!-- Body -->
    <div class="container" id="header">
        <h1 id="od-history">order history</h1>
        <div class="order-tabs">
            <a href="order-history-pending.html" class="order-tab selected-tab" title = "pending">pending</a>
            <a href="order-history-delivering.html" class="order-tab" title = "delivering">confirmed</a>
            <a href="order-history-completed.html" class="order-tab" title = "completed">completed</a>
            <a href="order-history-cancelled.html" class="order-tab" title = "cancelled">cancelled</a>
        </div>
    </div>

    <div class="container">
        <div class="order-list">

            <div class="order">
                <div class="row">
                    <div class="col">
                        <h3 class="order-num">Order#123467890</h3>
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <img src="images/icon.png" class="product-icon">
                    </div>
                    <div class="col-4 order-details">
                        <div class="row">
                            <a class="product-name" href = "product-details.html">item name</a>
                        </div>
                        <div class="row">
                            <p class="product-total"><span class="bold">total: </span> 460.00 PHP</p>
                        </div>
                    </div>
                    <div class="col-3 justify-content-end"></div>
                    <div class="col-3 d-flex justify-content-center">
                        <div class="row d-flex justify-content-center">
                            <div class = "col right-col">
                            <p class="delivery-details">to pay </p>
                            <button type="button" class="btn btn-light cancel-button">cancel</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="order">
                <div class="row">
                    <div class="col">
                        <h3 class="order-num">Order#123467890</h3>
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <img src="images/icon.png" class="product-icon">
                    </div>
                    <div class="col-4 order-details">
                        <div class="row">
                            <a class="product-name" href = "product-details.html">item name</a>
                        </div>
                        <div class="row">
                            <p class="product-total"><span class="bold">total: </span> 460.00 PHP</p>
                        </div>
                    </div>
                    <div class="col-3 justify-content-end"></div>
                    <div class="col-3 d-flex justify-content-center">
                        <div class="row d-flex justify-content-center">
                            <div class = "col right-col">
                            <p class="delivery-details">to pay </p>
                            <button type="button" class="btn btn-light cancel-button">cancel</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="order">
                <div class="row">
                    <div class="col">
                        <h3 class="order-num">Order#123467890</h3>
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <img src="images/icon.png" class="product-icon">
                    </div>
                    <div class="col-4 order-details">
                        <div class="row">
                            <a class="product-name" href = "product-details.html">item name</a>
                        </div>
                        <div class="row">
                            <p class="product-total"><span class="bold">total: </span> 460.00 PHP</p>
                        </div>
                    </div>
                    <div class="col-3 justify-content-end"></div>
                    <div class="col-3 d-flex justify-content-center">
                        <div class="row d-flex justify-content-center">
                            <div class = "col right-col">
                            <p class="delivery-details">to pay </p>
                            <button type="button" class="btn btn-light cancel-button">cancel</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="order">
                <div class="row">
                    <div class="col">
                        <h3 class="order-num">Order#123467890</h3>
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <img src="images/icon.png" class="product-icon">
                    </div>
                    <div class="col-4 order-details">
                        <div class="row">
                            <a class="product-name" href = "product-details.html">item name</a>
                        </div>
                        <div class="row">
                            <p class="product-total"><span class="bold">total: </span> 460.00 PHP</p>
                        </div>
                    </div>
                    <div class="col-3 justify-content-end"></div>
                    <div class="col-3 d-flex justify-content-center">
                        <div class="row d-flex justify-content-center">
                            <div class = "col right-col">
                            <p class="delivery-details">to pay </p>
                            <button type="button" class="btn btn-light cancel-button">cancel</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="order">
                <div class="row">
                    <div class="col">
                        <h3 class="order-num">Order#123467890</h3>
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <img src="images/icon.png" class="product-icon">
                    </div>
                    <div class="col-4 order-details">
                        <div class="row">
                            <a class="product-name" href = "product-details.html">item name</a>
                        </div>
                        <div class="row">
                            <p class="product-total"><span class="bold">total: </span> 460.00 PHP</p>
                        </div>
                    </div>
                    <div class="col-3 justify-content-end"></div>
                    <div class="col-3 d-flex justify-content-center">
                        <div class="row d-flex justify-content-center">
                            <div class = "col right-col">
                            <p class="delivery-details">to pay </p>
                            <button type="button" class="btn btn-light cancel-button">cancel</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 footer">
                <div class="row d-flex justify-content-center">
                    <h1 class="footerlogo">OFFTHESTREET</h1>
                </div>
                <div class="row socials d-flex justify-content-center">
                    <a href="facebook.com"><img class="social-media" src="images/facebook.png" alt="facebook.com"></a>
                    <a href="instagram.com"><img class="social-media" src="images/instagram.png" alt="facebook.com"></a>
                    <a href="twitter.com"><img class="social-media" src="images/twitter.png" alt="facebook.com"></a>
                </div>
                <div class="row d-flex justify-content-center">
                    <a href="" class="footerlinks">Privacy Policy</a>
                    <a href="" class="footerlinks">Terms and Conditions</a>
                </div>
                <div class="row d-flex justify-content-center">
                    <h1 id="copyright">Off The Street ©</h1>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

</body>
</html>