<html>
<head>
    <title>Off The Street</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/order-history-cancelled.css"> 
    <!-- JS, Popper.js, and jQuery -->
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <!-- Navbar -->
    {{> navbar}}

    <!-- Body -->
    <div class="container" id="header">
        <h1 id="od-history">order history</h1>
        <div class="order-tabs">
            <a href="orderPending.html" class="order-tab" title = "pending">pending</a>
            <a href="orderDelivering" class="order-tab" title = "delivering">confirmed</a>
            <a href="orderCompleted" class="order-tab" title = "completed">completed</a>
            <a href="orderCancelled" class="order-tab selected-tab" title = "cancelled">cancelled</a>
        </div>
    </div>

    <div class="container">
        <div class="order-list">

            <div class="order">
                <div class="row">
                    <div class="col">
                        <h3 class="order-num">Order#123467890</h3>
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <img src="images/icon.png" class="product-icon">
                    </div>
                    <div class="col-4 order-details">
                        <div class="row">
                            <a class="product-name" href = "productDetails">item name</a>
                        </div>
                        <div class="row">
                            <p class="product-total"><span class="bold">total: </span> 460.00 PHP</p>
                        </div>
                    </div>
                    <div class="col-3 justify-content-end"></div>
                    <div class="col-3">
                        <div class="row">
                            <div class = "col right-col">
                            <p class="delivery-details">cancelled on: </p>
                            <p class="cancel-date">February 25, 2020 </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="order">
                <div class="row">
                    <div class="col">
                        <h3 class="order-num">Order#123467890</h3>
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <img src="images/icon.png" class="product-icon">
                    </div>
                    <div class="col-4 order-details">
                        <div class="row">
                            <a class="product-name" href = "productDetails">item name</a>
                        </div>
                        <div class="row">
                            <p class="product-total"><span class="bold">total: </span> 460.00 PHP</p>
                        </div>
                    </div>
                    <div class="col-3 justify-content-end"></div>
                    <div class="col-3">
                        <div class="row">
                            <div class = "col right-col">
                            <p class="delivery-details">cancelled on: </p>
                            <p class="cancel-date">February 25, 2020 </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="order">
                <div class="row">
                    <div class="col">
                        <h3 class="order-num">Order#123467890</h3>
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <img src="images/icon.png" class="product-icon">
                    </div>
                    <div class="col-4 order-details">
                        <div class="row">
                            <a class="product-name" href = "productDetails">item name</a>
                        </div>
                        <div class="row">
                            <p class="product-total"><span class="bold">total: </span> 460.00 PHP</p>
                        </div>
                    </div>
                    <div class="col-3 justify-content-end"></div>
                    <div class="col-3">
                        <div class="row">
                            <div class = "col right-col">
                            <p class="delivery-details">cancelled on: </p>
                            <p class="cancel-date">February 25, 2020 </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="order">
                <div class="row">
                    <div class="col">
                        <h3 class="order-num">Order#123467890</h3>
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <img src="images/icon.png" class="product-icon">
                    </div>
                    <div class="col-4 order-details">
                        <div class="row">
                            <a class="product-name" href = "productDetails">item name</a>
                        </div>
                        <div class="row">
                            <p class="product-total"><span class="bold">total: </span> 460.00 PHP</p>
                        </div>
                    </div>
                    <div class="col-3 justify-content-end"></div>
                    <div class="col-3">
                        <div class="row">
                            <div class = "col right-col">
                            <p class="delivery-details">cancelled on: </p>
                            <p class="cancel-date">February 25, 2020 </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="order">
                <div class="row">
                    <div class="col">
                        <h3 class="order-num">Order#123467890</h3>
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <img src="images/icon.png" class="product-icon">
                    </div>
                    <div class="col-4 order-details">
                        <div class="row">
                            <a class="product-name" href = "productDetails">item name</a>
                        </div>
                        <div class="row">
                            <p class="product-total"><span class="bold">total: </span> 460.00 PHP</p>
                        </div>
                    </div>
                    <div class="col-3 justify-content-end"></div>
                    <div class="col-3">
                        <div class="row">
                            <div class = "col right-col">
                            <p class="delivery-details">cancelled on: </p>
                            <p class="cancel-date">February 25, 2020 </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{> footer}}

</body>
</html>