<html>
<head>
    <title>Off The Street</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/home-styles.css">
    <link rel="stylesheet" href="css/search-styles.css">

    <!-- Animation-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        $( document ).ready(function() {
            AOS.init()
        });
    </script>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar sticky-top navbar-expand-lg justify-content-center">
        <ul class="nav d-flex align-items-center">
            <li class="nav-item">
                <a class="nav-link navlink" href="home.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navlink" href="about-us.html">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navlink" href="#">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navlink" href="size-chart.html">Size Chart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navlink" href="contact.html">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navlink" href="faq.html">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navlink" href="privacy-policy.html">Privacy Policy</a>
            </li>
            <li class="nav-item">
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                        <input class="search_input" type="text" name="" placeholder="Search...">
                        <a href="search.html" class="search_icon" id="searchbtn">
                            <svg width="16" height="16" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7965 16.9215C19.7558 15.5864 20.3188 13.9521 20.3188 12.1937C20.3188 7.70622 16.6813 4.06873 12.1938 4.06873C7.70626 4.06873 4.06876 7.70622 4.06876 12.1937C4.06876 16.6812 7.70626 20.3187 12.1938 20.3187C13.9521 20.3187 15.5864 19.7557 16.9215 18.7965L24.0688 25.9312L25.9313 24.0687L18.7965 16.9215ZM6.56876 12.1937C6.56876 15.3062 9.08126 17.8187 12.1938 17.8187C15.3063 17.8187 17.8188 15.3062 17.8188 12.1937C17.8188 9.08123 15.3063 6.56873 12.1938 6.56873C9.08126 6.56873 6.56876 9.08123 6.56876 12.1937Z" fill="#F2F2F2"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </li>
            <script type="text/javascript">
                document.getElementById("searchbtn").onclick = function () {
                    location.href = "search.html";
                };
            </script>
            <li class="nav-item">
                <a class="nav-link navlink" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navlink" href="shopping-cart.html">Cart</a>
            </li>
        </ul>
    </nav>
    
    <!-- Body -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="row mt-5">
                    <!-- filter tab -->
                    <div class="col-3">
                        <!-- upper -->
                        <div class="row">
                            <p class="filter-heading mt-4">UPPER</p>
                        </div>
                        <div class="row choices">
                            <input type="checkbox" class="form-check-input" name="tshirts">
                            <label for="tshirts">T-SHIRTS</label>
                        </div>
                        <div class="row choices">
                            <input type="checkbox" class="form-check-input" name="hoodies">
                            <label for="hoodies">HOODIES</label>
                        </div>
                        <div class="row choices mb-4">
                            <input type="checkbox" class="form-check-input" name="longsleeves">
                            <label for="longsleeves">LONG SLEEVES</label>
                        </div>
                        <!-- lower -->
                        <div class="row">
                            <p class="filter-heading">LOWER</p>
                        </div>
                        <div class="row choices">
                            <input type="checkbox" class="form-check-input" name="shorts">
                            <label for="shorts">SHORTS</label>
                        </div>
                        <div class="row choices mb-4">
                            <input type="checkbox" class="form-check-input" name="pants">
                            <label for="pants">PANTS</label>
                        </div>
                        <!-- accessories -->
                        <div class="row">
                            <p class="filter-heading">ACCESSORIES</p>
                        </div>
                        <div class="row choices">
                            <input type="checkbox" class="form-check-input" name="hats">
                            <label for="hats">HATS</label>
                        </div>
                        <div class="row choices">
                            <input type="checkbox" class="form-check-input" name="beanies">
                            <label for="beanies">BEANIES</label>
                        </div>
                        <div class="row choices">
                            <input type="checkbox" class="form-check-input" name="bags">
                            <label for="bags">BAGS</label>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="col-9">
                        <img src="images/heading.png" class="img-heading">

                        <div class="col d-flex justify-content-center flex-wrap mt-4">
                            <a class="item">
                                <div class="card" data-aos="fade-up" data-aos-duration="500">
                                    <div class="card item" style="width: 14rem;height:100%">
                                        <a href=""><img src="images/icon.png" class="card-img-top itemphoto"></a>
                                        <div class="price d-flex justify-content-center">
                                            <h1 class="priceval">100php</h1>
                                        </div>
                                        <div class="card-body">
                                            <a href="" class="cardname"><p class="card-text itemname">item name</p></a>
                                        </div>
                                        <div class="sale d-flex justify-content-center">
                                            <h1 class="salepercent">10%off</h1>
                                        </div>
                                    </div>
                                    <button class="wishlist" title="add to wishlist">
                                        <li class="fa fa-heart"></li>
                                    </button>
                                    <button class="add" title="add to cart">
                                        <li class="fa fa-plus"></li>
                                    </button>
                                </div>
                            </a>
                            <a class="item">
                                <div class="card" data-aos="fade-up" data-aos-duration="500">
                                    <div class="card item" style="width: 14rem;height:100%">
                                        <a href=""><img src="images/icon.png" class="card-img-top itemphoto"></a>
                                        <div class="price d-flex justify-content-center">
                                            <h1 class="priceval">100php</h1>
                                        </div>
                                        <div class="card-body">
                                            <a href="" class="cardname"><p class="card-text itemname">item name</p></a>
                                        </div>
                                    </div>
                                    <button class="wishlist" title="add to wishlist">
                                        <li class="fa fa-heart"></li>
                                    </button>
                                    <button class="add" title="add to cart">
                                        <li class="fa fa-plus"></li>
                                    </button>
                                </div>
                            </a>
                            <a class="item">
                                <div class="card" data-aos="fade-up" data-aos-duration="500">
                                    <div class="card item" style="width: 14rem;height:100%">
                                        <a href=""><img src="images/icon.png" class="card-img-top itemphoto"></a>
                                        <div class="price d-flex justify-content-center">
                                            <h1 class="priceval">100php</h1>
                                        </div>
                                        <div class="card-body">
                                            <a href="" class="cardname"><p class="card-text itemname">item name</p></a>
                                        </div>
                                    </div>
                                    <button class="wishlist" title="add to wishlist">
                                        <li class="fa fa-heart"></li>
                                    </button>
                                    <button class="add" title="add to cart">
                                        <li class="fa fa-plus"></li>
                                    </button>
                                </div>
                            </a>
                            <a class="item">
                                <div class="card" data-aos="fade-up" data-aos-duration="500">
                                    <div class="card item" style="width: 14rem;height:100%">
                                        <a href=""><img src="images/icon.png" class="card-img-top itemphoto"></a>
                                        <div class="price d-flex justify-content-center">
                                            <h1 class="priceval">100php</h1>
                                        </div>
                                        <div class="card-body">
                                            <a href="" class="cardname"><p class="card-text itemname">item name</p></a>
                                        </div>
                                        <div class="sale d-flex justify-content-center">
                                            <h1 class="salepercent">10%off</h1>
                                        </div>
                                    </div>
                                    <button class="wishlist" title="add to wishlist">
                                        <li class="fa fa-heart"></li>
                                    </button>
                                    <button class="add" title="add to cart">
                                        <li class="fa fa-plus"></li>
                                    </button>
                                </div>
                            </a>
                            <a class="item">
                                <div class="card" data-aos="fade-up" data-aos-duration="500">
                                    <div class="card item" style="width: 14rem;height:100%">
                                        <a href=""><img src="images/icon.png" class="card-img-top itemphoto"></a>
                                        <div class="price d-flex justify-content-center">
                                            <h1 class="priceval">100php</h1>
                                        </div>
                                        <div class="card-body">
                                            <a href="" class="cardname"><p class="card-text itemname">item name</p></a>
                                        </div>
                                        <div class="sale d-flex justify-content-center">
                                            <h1 class="salepercent">10%off</h1>
                                        </div>
                                    </div>
                                    <button class="wishlist" title="add to wishlist">
                                        <li class="fa fa-heart"></li>
                                    </button>
                                    <button class="add" title="add to cart">
                                        <li class="fa fa-plus"></li>
                                    </button>
                                </div>
                            </a>
                            <a class="item">
                                <div class="card" data-aos="fade-up" data-aos-duration="500">
                                    <div class="card item" style="width: 14rem;height:100%">
                                        <a href=""><img src="images/icon.png" class="card-img-top itemphoto"></a>
                                        <div class="price d-flex justify-content-center">
                                            <h1 class="priceval">100php</h1>
                                        </div>
                                        <div class="card-body">
                                            <a href="" class="cardname"><p class="card-text itemname">item name</p></a>
                                        </div>
                                    </div>
                                    <button class="wishlist" title="add to wishlist">
                                        <li class="fa fa-heart"></li>
                                    </button>
                                    <button class="add" title="add to cart">
                                        <li class="fa fa-plus"></li>
                                    </button>
                                </div>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <!-- Footer -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 footer">
                <div class="row d-flex justify-content-center">
                    <h1 class="footerlogo">OFFTHESTREET</h1>
                </div>
                <div class="row socials d-flex justify-content-center">
                    <a href="facebook.com"><img class="social-media" src="images/facebook.png" alt="facebook.com"></a>
                    <a href="instagram.com"><img class="social-media" src="images/instagram.png" alt="facebook.com"></a>
                    <a href="twitter.com"><img class="social-media" src="images/twitter.png" alt="facebook.com"></a>
                </div>
                <div class="row d-flex justify-content-center">
                    <a href="" class="footerlinks">Privacy Policy</a>
                    <a href="" class="footerlinks">Terms and Conditions</a>
                </div>
                <div class="row d-flex justify-content-center">
                    <h1 id="copyright">Off The Street ©</h1>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</body>
</html>