.info {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.heading {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.title {
    font-size: 34px;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 30px;
}

.content {
    font-size: 20px;
    margin-bottom: 30px;
}

.pic {
    width: 320px;
}

.right {
    float: right;
}