.filter-heading {
    font-weight: bold;
    margin-bottom: 10px;
}

.choices {
    margin-left: 10px;
    font-weight: 600;
}

.img-heading {
    width: 100%;
}

.price {
    width: 100px;
    margin-left: 120px;
}

.priceval {
    font-size: 16px;
}

.sale {
    margin-left: 150px;
    margin-top: 152px;
    width: 70px;
}

.salepercent{
    font-size: 16px;
    margin: 0;
}

.card-body {
    font-size: 16px;
}

.add {
    position: absolute;
    width: 34px;
    height: 34px;
    align-self: center;
    margin-top: 85px;
    padding: 0;
    display: none;
    border: 1px solid black;
    border-radius: 3px;
}

.card:hover .add {
    display: block;
}
